.login-poster {
	height: 100vh;
	background-image: url("/assets/images/doctor5.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.login-grad {
	height: 100%;
	background: linear-gradient(
		0deg,
		#008db9 16.55%,
		rgba(196, 196, 196, 0.2) 99.9%
	);
}

.login-poster-text {
	color: white;
	font-weight: bold;
	font-size: 38px;
	text-align: center;
	padding-top: 600px;
}

.login-form-card {
	width: 26em;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

.login-card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.ant-card-body {
	padding: 0;
}

.ant-card-head-title {
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	color: #685b52;
}

.login-form {
	padding: 22px;
}

.ant-btn-primary {
	border: 0 !important;
	background-color: #008db9;
	border-radius: 4px;
	font-weight: 700;
	transition: 0.2s all linear;
	margin-top: 10px;
}
.ant-btn-primary:hover {
	background-color: #008db9;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
}

.ant-btn-primary:focus {
	background-color: #008db9;
}

.ant-input-affix-wrapper {
	border: 1.5px solid #00000029;
	border-radius: 4px;
	background: #fafbfc;
	padding: 6px 11px;
}

.ant-input-affix-wrapper > input.ant-input {
	background: #fafbfc;
}
