thead[class*="ant-table-thead"] th {
	font-weight: 600;
	background-color: #e6f7ff !important;
}

.ant-modal-header {
	background-color: #005ea5;
}

.ant-modal-close-x {
	color: #fff;
}

.ant-card,
.ant-table,
.ant-modal-content {
	border-radius: 4px !important;
}

.ambulance-button {
	margin-top: 0px;
}

.profile-card-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-data {
	font-size: 16px;
	font-weight: 500;
}

.profile-data-label {
	color: #8c8c8c;
	font-weight: 500;
}

.patient-form-wrapper {
	display: flex;
	justify-content: center;
}
