.ant-btn-primary {
	background: #008db9;
	border-radius: 4px;
}

.ant-statistic-content-value-int {
	margin-bottom: 10px;
	font-size: 30px;
	font-family: GoogleSansMd;
}

.ant-statistic-content-suffix {
	margin-bottom: 10px;
	font-size: 20px;
	font-family: GoogleSansMd;
}

.ant-table-title {
	font-size: 1.5em;
	font-family: GoogleSansMd;
	border-radius: 4px 4px 0px 0px;
	color: #424242;
}

.ant-pagination-item-active a {
	color: #008db9;
}

.ant-pagination-item-active {
	border-color: #008db9;
}

.ant-table-thead > tr > th {
	font-size: 18px;
}

.ant-table-tbody > tr > td {
	font-size: 16px;
	border-color: rgb(0, 141, 185, 0.17);
}

/* table above, modal below */

.ant-modal-header {
	background: rgb(0, 141, 185, 0.55);
	padding-top: 10px;
	padding-bottom: 10px;
}

.ant-modal-close-x {
	line-height: 44px;
	height: 40px;
}

.ant-row {
	margin-bottom: 5px;
	font-size: 1.2em;
}

.ant-select-selection-item {
	font-size: 1.2em;
}

.second-segment {
	margin-top: 30px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
	height: auto;
	border-radius: 4px;
}

.ml-11 {
	margin-left: 11px;
}

.status-modal-field {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 2px 4px 0px 11px;
}
