.dashboard {
  /* display: flex;
      flex-direction: column; */
  background: #fe7676;
  color: white;
  height: 100vh;
  overflow: auto;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-top: 3em;
  padding-left: 2em;
}

.sub-list {
  margin-left: 2.5em;
  margin-bottom: 1em;
}

.style {
  margin: 1em;
}
.logout {
  margin-left: 1em;
  margin-top: 90%;
}

.icon {
  padding-right: 10px;
}

.cont {
  display: flex;
  align-items: center;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  color: #fe7676;
  font-weight: bold;
  padding-top: 1em;
}

.amb-front {
  font-family: "Roboto", sans-serif;
  background: #f1f1f1;
  padding-left: 5em;
  padding-right: 5em;
}

.amb-avlble {
  background: white;
  border: none;
  border-radius: 0.18em;
  padding: 30px 10px 10px 10px;
  color: #707070;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 75%;
}

.form-field {
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #707070;
  font-size: 1.1em;
  padding-left: 10px;
}

.form-res {
  padding-top: 4px;
  padding-bottom: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #707070;
  font-size: 0.85em;
}

.style2 {
  /* padding-left: 35%; */
  display:flex;
  justify-content: flex-end;
}

.style4 {
  padding-left: 30%;
}

.style3 {
  padding-left: 7em;
  display: flex;
  align-items: center;
}

.head3 {
  display: flex;
  justify-content: center;
  width:92%;
  padding-top: 3%;
  font-size: 1.2em;
}

.form-control {
    border: 0.1em solid #00000029;
  width: 10em;
  height: 2em;
}

.btn-change {
  background: #fe7676;
  border: none;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  padding:6px 30px;
  font-size: 1.1em;
}

.btn-container{
    justify-content: center;
    width:95%;
}

.btn-container1{
    justify-content:flex-end;
    width:93%;
    padding-top: 25px;
}

.select {
    cursor: pointer;
  }

/* add-ambulance-modal */

.modal-header {
    background: #fe7676;
    padding: 10px;
    color: white;
  }
  
  .modal-title {
    width: 100%;
    text-align: center;
    padding-left: 35px;
  }
  
  .cross {
    padding: 5px 8px;
    background: white;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .close {
    color: #707070;
    opacity:1;
  }
  
  .modal-header .close {
    padding: 0px;
    margin: 0px;
  }
  .form-field {
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #707070;
    font-size: 1.1em;
    padding-left: 10px;
  }
  
  .amb-drop {
    /* padding-top: 100px; */
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #707070;
    font-size: 0.85em;
  }
  
  .form-res {
    padding-top: 4px;
    padding-bottom: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #707070;
    font-size: 0.85em;
  }
  
  .style1 {
    /* padding-top: 40px; */
    padding-left: 25px;
  }
  
  .select1 {
    padding: 3px 12px;
    border: 0.1em solid #00000029;
    border-radius: 5px;
    color: #707070;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn1 {
    background: #fe7676;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 0.5em 2.5em;
    border: none;
    font-size: 1.1em;
  }

  .modal-footer{
      justify-content: center;
  }
  
  .material-icons {
    cursor: pointer;
  }
/* add-ambulance-modal */
