.dashboard {
  /* display: flex;
  flex-direction: column; */
  background: #fe7676;
  color: white;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-top: 3em;
  padding-left: 2em;
}

.sub-list {
  margin-left: 2.5em;
  margin-bottom: 1em;
}

.style {
  margin: 1em;
}
.logout {
  margin-left: 1em;
  margin-top: 90%;
}

.icon {
  padding-right: 10px;
}

.cont {
  display: flex;
  align-items: center;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  color: #fe7676;
  font-weight: bold;
  padding-top: 1em;
}

.amb-front {
  font-family: "Roboto", sans-serif;
  background: #f1f1f1;
  padding-left: 5em;
  padding-right: 5em;
}

.amb-avlble {
  display: flex;
  justify-content: left;
  align-items: center;
  background: white;
  border: 0.13em solid #fe7676;
  border-radius: 0.3em;
  padding: 10px;
  font-size: 1.2em;
  color: #707070;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.head-2 {
  background: #fe7676;
  display: flex;
  justify-content: center;
  color: #f1f1ff;
  padding: 10px;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 0.3em 0.3em 0em 0em;
}

.table {
  color: #707070;
}

.btn-success {
  background-color: #0f9d58;
  font-family: "Roboto", sans-serif;
}

.table td {
  /* display:flex;
    flex-direction: row;
    align-items: center; */
  vertical-align: middle;
  text-align: center;
  padding: 0.4em;
}

.table thead {
  text-align: center;
}

.table-container {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  /* border:1px solid black; */
  box-shadow: black;
}

.table th {
  vertical-align: middle;
  text-align: center;
  padding: 0.4em;
}

.select {
  cursor: pointer;
}

/* Modal-Assign-Ambulance */
.modal-header {
  background: #fe7676;
  padding: 8px;
  color: white;
}

.modal-title {
  width: 100%;
  text-align: center;
  padding-left: 35px;
}

.cross {
  padding: 5px 8px;
  background: white;
  border-radius: 50%;
  margin-right: 20px;
}

.close {
  color: #707070;
  opacity:1;
}

.modal-header .close {
  padding: 0px;
  margin: 0px;
}
/* } */

.form-field {
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #707070;
  font-size: 1.1em;
  padding-left: 10px;
}

.amb-drop {
  padding-top: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #707070;
  font-size: 0.85em;
}

.form-res {
  padding-top: 4px;
  padding-bottom: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #707070;
  font-size: 0.85em;
}

.style1 {
  padding-top: 40px;
  padding-left: 25px;
}

.select1 {
  padding: 3px 12px;
  border: 0.1em solid #00000029;
  border-radius: 5px;
  color: #707070;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.select1 option {
  color: #707070;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.style2 {
  padding-left: 25px;
}

.style3 {
  padding-left: 42px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.btn1 {
  background: #fe7676;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 0.5em 2.5em;
  border: none;
  font-size: 1.1em;
}

.material-icons {
  cursor: pointer;
}

/* .cross{
    background: white;
    border-radius: 50%;
    padding: 5px 2px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color:black;
} */
/* Modal-Assign-Ambulance */
