.menu-wrapper {
	height: 100vh;
}

.submenu-edit {
	color: #fff;
}

.menu-edit {
	height: 100%;
	background-color: #fe7676;
	color: #fff;
	font-weight: 700;
	padding: 20px;
}

.menu-edit:hover {
	color: #fff !important;
}

.ant-menu {
	background-color: #fe7676 !important;
	color: #fff;
}
