.login-poster {
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url("/assets/images/doctor1.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.login-grad {
	/* height: 100%;
	background: linear-gradient(
		0deg,
		rgba(196, 196, 196, 0.2) 16.55%,
		rgba(196, 196, 196, 0.2) 99.9%
	); */
	/* float: bottom; */
	/* width: 100% !important; */
	position: absolute;
	bottom: 0px;
	/* margin: auto !important; */
}

.login-poster-text {
	color: white;
	font-weight: bold;
	font-size: 2.8em;
	text-align: center;
	padding-top: 600px;
}

.login-card-container {
	margin: 0 auto;
	width: 30em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.login-card-head {
	font-size: 1.5em;
	font-weight: 700;
	background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.2) 0,
		rgba(0, 0, 0, 0.2) 30%,
		transparent 30%,
		transparent
	);
	width: fit-content;
	height: 30px;
}
